img {
    width: 100%;
}

.monoffre {
    display: block;
    justify-items: center;
    padding-bottom: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.card {
    height: 90%;
    display: flex;
    align-items: center;
}

div.card:hover {
    background-color: #efefef;
    box-shadow: 2px 2px 5px;
}

.boxis1 {
    font-size: small;
    font-weight: 600;
}

.car-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;

}

svg {
    text-align: center;
    color: rgb(0, 128, 255);
    margin-top: 40px;

}

.card-title {
    font-style: bold;
    text-align: center;
    padding-top: 20px;
}

.card-text {
    padding: 10px;
    padding-bottom: 40px;
    font-size: 14px;
    text-align: center;
}