body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400; /* Corps du texte */
}

/* Titres avec gras 700 ne correspond pas a la maquette */
h1, h2, h3, h4, h5{
  font-weight: 800;
}

strong {
  font-weight: 600;
}

.is-active {
  font-weight: bold;
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: underline;
}
span a{
  color:white;
   text-decoration: none;
}
a svg{
  
  color:rgba(105, 105, 105, 0.5);
  margin: .2em;
  margin-bottom: 1.2em;
}
a svg :hover{
   color:dimgray;
}
ul{
   list-style-type: none;
}
ul a{
  color:white;
  text-decoration: none;
 
}
.border-bottom{
  border-bottom: 10px solid;

}
small{
  display: block;
  font-size: 12px ;
  padding: 6px 0px;

}

.container article{
  max-width: 75%;
  width: auto;
  margin: auto;
  border: 1px solid white;
  box-shadow: -5px 15px 20px rgba(226, 218, 218, 0.5),
               5px 0px 20px rgba(198, 191, 191, 0.5);
}
.imagefond{
 
  background-image:
  url('/img/hero-bg.jpg');
   background-size: cover;
   filter: opacity(.75);
   background-position: center;
   padding: 200px;
   text-align: center;
 
}

h1, h2{
  font-weight: bold;
  color: white;
  width: 100%;
 
}
h1{
  font-size: 2.5em;
}
.modal-body{
  display: flex;
}

footer a:hover{font-weight: bolder;}



  
  

